<%- include('header') %>

<h4 class="mb-3">Tárgyak</h4>

<%- include('message') %>


<form action="/targyak" method="post">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cím</th>
            <th scope="col">Tipus</th>
            <th scope="col">Elérhető-e</th>
            <th scope="col">Műveletek</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((item, index) => { %>
            <tr>
                <td><%= (index+1)%>.</td>
                <td><%= item.title %></td> 
                <td><%= item.type %></td> 
                <td><%= item.available ? 'Igen' : 'Nem' %></td>
                <td>
                  <form action="/kolcsonzes" method="post">
                    <button type="submit" class="btn btn-primary">Kölcsönzés</button>
                    <form action="/visszahozas" method="POST">
                      <button type="submit" class="btn btn-warning">Visszahozás</button>
                    </form>
                  </form>
                </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
</form>

<%- include('footer') %>